<a href="https://colab.research.google.com/github/rwack2019/BDColab/blob/master/week1_intro_to_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Big Data Colab Week 1: Intro to Python

Welcome to week one of MAGIC's Big Data Colab. This module contains an intro to python as well as an introduction to computational thinking. All important stuff. Let's get started

Python is a powerful and popular programming language for data science, web backends, and scientific computing. Its popularity comes from its ease of both reading and writing. It isn't hard to get started with python! This tutorial will start with the basics and work up to more complex code.

## Basic Data Types:

The starting point for any programming is understanding its basic data types. Data types are just what a program uses to store data. We, as programmers, have a need to store all types of data (e.g. numbers, addresses, party membership, whatever!). Its a good thing python makes it easy to store all sorts of data types

The following code blocks introduce integers, floats, booleans, strings, and some basic operators.

### Integers and Floats

In [ ]:
# Surprise, surprise. Python can store numbers.

zebras=6
pandas=7

total_animals_in_zoo= pandas + zebras
print(total_animals_in_zoo)

13

In [ ]:
# Python also makes it easy to store decimals (floating point values or floats).
# Its also easy to convert between integers and floats
my_height_in_inches =71.5
your_height_in_cms= 67.75

combined_height_in_inches= my_height_in_inches + (your_height_in_cms/2.54)
print(combined_height_in_inches)

98.1732283464567

In [ ]:
# We can also compare numbers.
print(1<2)
print(25<=20)

True
False

**1.1)** You're up. Using the variables, calculate the area of the circles defined
below and figure out which circle is larger. Print the result to the console. Area=pi*r^2

[Here's](https://www.jpl.nasa.gov/edu/news/2016/3/16/how-many-decimals-of-pi-do-we-really-need/) a cool article about the precision of pi used in the code for interplanetary navigation. :)

In [ ]:
pi=3.14159 # Aprox.
diameter1=10
diameter2=15

###### YOUR CODE HERE ##########
area1 = pi*((diameter1/2)**2)
area2 = pi*((diameter2/2)**2)

print(area1)
print(area2)



print("Circle one is larger than circle two.")
print(area1 > area2)

################################

78.53975
176.7144375
Circle one is larger than circle two.
False

### Strings

Being able to store numbers is obviously important. But we do need to be able to store other types of data. What if we want to store a name or address?

Enter strings! Programs use strings to store characters and words.

In [ ]:
first_name = "Robert"
last_name = 'Wack' 

full_name = first_name + " " + last_name
print(full_name)
# Notice in python you can use single or double quotes to declare a string. 
# In python, it depends on your style. In other languages, you can only use
# double quotes and single quotes can only declare individual characters.

Robert Wack

Strings themselves aren't that useful. We need operators to make them more powerful. Python gives you [a lot](https://www.programiz.com/python-programming/methods/string) to work with out of the box.

In [ ]:
 print("length: " + str(len("I wonder how long this sentence is."))) # Casting

length: 35

In [ ]:
my_str="yelling? Im not yelling."
print(my_str)
print(my_str.upper())

yelling? Im not yelling.
YELLING? IM NOT YELLING.

In [ ]:
str1 = "string 1"
str2 = "string 2"
str3 = "string 1"

print(str1 == str2)
print(str1 == "string 1")
print(str1 < str2)

**1.2)** Fill in the address fields and concatenate the strings. Make sure the address is all upper case then print it to the console. Can you do it without declaring the zip_code as a string to start?

In [ ]:
street_address = "93 WEST GREEN ST"
city = "WESTMINSTER"
state = "MD"
zip_code = 21157

print("Address " + street_address + ' ' + city + ' ' + state + ' ' + str(zip_code))

Address 93 WEST GREEN ST WESTMINSTER MD 21157

### Booleans and Conditional Branching

As you've seen above, boolean variables (i.e. true and false) are also important. A lot of functions depend on the logical combinations of boolean variables, for example logical AND OR and NOT. [Here](https://medium.com/i-math/intro-to-truth-tables-boolean-algebra-73b331dd9b94) is a gentle intro to boolean logic.

In [ ]:
sam_likes_pizza = True
jim_likes_pizza = True
max_likes_pizza = False

sam_and_max_like_pizza = sam_likes_pizza and max_likes_pizza
sam_and_jim_like_pizza = sam_likes_pizza and jim_likes_pizza

sam_or_max_like_pizza = sam_likes_pizza or max_likes_pizza
sam_or_jim_like_pizza = sam_likes_pizza or jim_likes_pizza

what_will_this_be = not sam_likes_pizza

True and false values are important for controlling the flow of a program. For example, if the user is new, show them a sign up screen, else show them their home screen.

In [ ]:
four_legs = True
floppy_ears = True
two_legs = False
onek_legs = False

if(four_legs is True):
  if(floppy_ears is True):
    print("its a dog")
  else:
    print("its a bunny")
elif(onek_legs):
  print("its a millipede ")
else:
  print("Animal unidentified")


# Often times we can condense if blocks

if(four_legs and floppy_ears):
  print("its a dog")
elif(two_legs and floppy_ears):
  print("its a bunny")
elif(onek_legs):
  print("its a bunny")
else:
  print("Animal unidentified")

its a dog

**1.3)** Your turn. Consider all the conditions needed to come together for a thunderstorm (e.g. rain, thunder, lightning, low pressure, etc). Write a sequence of if statements that can correctly identify a thunderstorm given a series of conditions.

### Collections: Lists and Dicts

So far we've seen numbers, strings, and boolean data types. These are useful, but a lot of times we need... more ... things.

The last two data types we'll see are types of collections. Collections store groups of basic data types or even groups of other collections. The two basic collections we'll look at are lists and maps aka dictionaries.

[Here](https://www.w3schools.com/python/python_ref_list.asp) is a list of common list functions.

[Here](https://www.w3schools.com/python/python_ref_dictionary.asp) is a list of common dictionary functions.

In [ ]:
my_list = [1,2,3,4,5]

# lists can also be mixed type
my_mixed_list = [1, "two", False]
my_mixed_list.append("new element")
my_mixed_list.remove("two")
my_mixed_list.index(False)
my_mixed_list.clear()

# lists can store other lists ?!?!
list_o_lists = [['1.1', '1.2', '1.3'], ['2.1', '2.2', '2.3', 2.4]]
print(list_o_lists[1][2])
# Under the hood what is a string? :O

# You can access a list items based on their indexes
my_list = [1,2,3,4,5]
print(my_list[3])

# A popular function for lists/maps is the 'in' keyword

print(1 in my_list)
print(43 in my_list)

2.3
4
True
False

**1.3)** You are analyzing sports teams.  Members of each team are stored in a list. The Coach is the first name in the list, the captain is the second name in the list, and other players are listed after that. 
These lists are stored in another list, which starts with the best team and proceeds through the list to the worst team last.  Complete the function below to select the **captain** of the worst team and print to console.

In [ ]:
real_madrid=['zidane', 'ramos', 'marcelo']
barcelona=['valverde', 'messi', 'pique']

teams = [real_madrid, barcelona]

######### YOUR CODE HERE ##############
teams[1][1]

'messi'

A map/dictionary is a collection that stores key value pairs. Think of it like a literal dictionary. When you need something you find the word (key) and get the definition (value). But unlike a real dictionary, a python dictionary doesn't just map strings to strings. It can map any data type to any other data type.

In [ ]:
capitals={'United States': 'DC', 'France': 'Paris', 'Mexico': 'DF'}

populations = dict()
populations['UMD'] = 40000
populations['Towson'] = 30000
populations['UMBC'] = 20000
populations['Notre Dame'] = 8000

capitals['Canada'] = 'Ottawa'

for k,v in populations.items():
  print(k)

print(populations.get('Notre Dame'))
print(capitals['United States'])
print(capitals['Canada'])

UMD
Towson
UMBC
Notre Dame
8000
DC
Ottawa

**1.4)** Declare a new dict that contains state capitals. The key should be the state name and the value should be the capital. After adding three entries, [clear](https://www.w3schools.com/python/ref_dictionary_clear.asp) the dict.

In [ ]:
state_cap = dict()
state_cap['MD'] = 'Annapolis'
state_cap['VA'] = 'Richmond'
state_cap['PA'] = 'Harrisburg'

for k,v in state_cap.items():
  print(v)

state_cap.clear()
print(state_cap)

Annapolis
Richmond
Harrisburg
{}

### Loops

Now that we've seen collections, you can see how it might be important (majorily important cough cough) to be able to iterate over the collection and look at everything inside.

Loop loop loop loop loop loop loop loop loop loop loop loop loop

In [ ]:
# Simple loop
#for i in range(10):
  #print(i)

# Nested for loop
for i in range(0, 100, 5):
  for j in range(5):
    print(i+j)

# Summation loop
#sum=0
#for i in range(0, 100, 10):
  #sum = sum + 10
  #print("sum: " + str(sum))

#print("sum: " + str(sum))##

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
# Appending to list using a loop
my_list = []

for i in range(10):
  my_list.append(i)

# Looping over a dict and a list
name_dict=dict()
name_dict['santa'] = 'claus'
name_dict['easter'] = 'bunny'
name_dict['tooth'] = 'fairy'

for k,v in name_dict.items():
  print(k, v)

for num in my_list:
  print(num)

santa claus
easter bunny
tooth fairy
0
1
2
3
4
5
6
7
8
9

**1.5)** You've seen earlier that python gives you an 'in' function to test if an element is in a list or a dict. It isn't magic that makes the 'in' function work. Engineers had to design the 'in' function for you to use. 

Given a list of items and a check_item, think about how you could check to see if the list contains that check_item. If the item is in the list, print "true" else print "false". *(Hint: You should be thinking about loops and if conditions)*.

In [ ]:
######## YOUR CODE HERE ##############

my_list = [1,2,3,4,5,6,8,9,10]
check_item = 7
test_flag = False

for i in range(len(my_list)):
 if my_list[i] == check_item:
   test_flag= True

test_flag

False

### Functions

In the section above, you wrote a useful snipped of code that replicates the 'in' function. A lot of times in programming you write something useful that you want to use again. Instead of rewriting the logic each time you use it, you can use a function to call the logic in multiple places.

A function contains a keyword def, a name, arguments, and a return value.

In [ ]:
def list_shorter_10_elements(list):
  if(len(list) < 10):
    return True
  else:
    return False

my_list = []
for i in range(0,100):
  my_list.append(i)

print(list_shorter_10_elements(my_list))

my_list.clear()

for i in range(0, 9):
  my_list.append(i)

print(list_shorter_10_elements(my_list))

False
True

**1.6)** Convert the logic you wrote in 1.5 into a function (two arguments?) and test it on multiple lists. Think about if there are any scenarios where your function might break. Some people's entire job is testing the code that others wrote (QA testing [link text](https://twitter.com/brenankeller/status/1068615953989087232)). Edge cases are important in computer science :) .

In [ ]:
#### YOUR CODE HERE ###########
def list_checker(list, nmbr):
  test_flag = False
  for i in range(len(list)):
    if list[i] == nmbr:
        test_flag= True
  return test_flag

my_list = [1,2,3,4,5,6,8,9,10]
list_checker(my_list, 9)

True


### Computational Thinking

Most of programming is just manipulating all the the structures and language features described above. Solving coding puzzles can help you become a better problem solver and a better program. As an additional incentive, most coding modern coding interviews are just a series of problems solving exercises.

**1.7)** Write a function called list_max that takes in a single list of numbers as an argument. Your function must return the max value in the list or return None if the list is empty. Then create a second function called list_min that does the same but for the minimum element. Don't use Python's prebuilt max or min :) .

In [ ]:
###### YOUR CODE HERE ########

def list_max(lst):
  if len(lst) == 0:
    print("None")
  maxi = lst[0]
  for i in range(0, len(lst)):
    if lst[i] > maxi:
      maxi = lst[i]
  return maxi
test = [3,5,2,7,3,9,1,6]
list_max(test)

####### min_list here #########
def list_min(lst):
  if len(lst) == 0:
    print("None")
  else:  
    for i in range(0, len(lst)):
      mini = lst[0]
      if lst[i] < mini:
        mini = lst[i]
    return mini
test = [3,5,2,7,3,9,1,6]
#test = []
list_min(test)

3

**1.8)** Summing a series a numbers comes up often in programming. For example, the total cost of all the items in a shopping cart. Write a function that takes in a list of numbers as an argument and returns the sum of the list. Return 0 for an empty list.

In [ ]:
#### YOUR CODE HERE ######
def sum_list(lst):
  tot = 0
  for i in range(len(lst)):
    tot = lst[i] + tot

  return tot

#test = [2,5,3,8,4,9]
test = []

sum_list(test)

0

**1.9)** Write a function that takes in two lists, lst1 and lst2. The function should concatenate the lists (i.e. each element of lst2 starting with the first should be added to the end of lst1).

In [ ]:
###### YOUR CODE HERE ########
def concat_lists(lst1, lst2):
  new_list = lst1 + lst2
  return new_list

test1 = ['dog', 'cat', 2, 5]
test2 = ['house', 7, 'car']

concat_lists(test1, test2)

['dog', 'cat', 2, 5, 'house', 7, 'car']

**1.10)** The modulus (%) is a common mathematical operator in python. The the expression (a % b) is equivalent to the remainder of a divided by b. For example, 10 % 7 is 3 and 20 % 3 is 2.

It's common to use modulus 2 to determine if a number is even or odd in programming. Notice that any number % 2 is either 0 or 1. If a % 2 is 0, a is even. If a % 2 is 1, a is odd.

Given that knowledge, try to figure out what the code below is doing. I purposefully made the variable names meaningless. Its probably easiest to look at and explain one function at a time then try to combine them.

In [ ]:
#### Try out some mod exaples here ####
print(10 % 2)
print(11 % 2)

0
1

In [ ]:
def foo(lst):
  magic = []
  for i in lst:
    if(i % 2 == 0):
      magic.append(i)
  
  return magic

def bar(lst):
  cat = lst.sort() # We haven't seen this but you should get it :)
  return lst[-1] # Hint: negative indexes wrap around to the back of the list

dog = [1,43,543,53,3,64,90,32,45,692,2, 20, -10,785]

print(foo(dog))
print(bar(dog))
print(bar(foo(dog)))

[64, 90, 32, 692, 2, 20, -10]
785
692

A really important skill for python specifically and programmig in general is the ability to find things you need on Google. Many times, you may not know how to solve but a problem, but the good news is, someone else has definitley already thought about it.

This problem is a little more advanced and involves two data structures. If you get stuck, google away! Programmers are just really good googlers. 

**1.10)**  Given two equal length lists named keys and vals as an arguments, write a function that turns the two lists into a dictionary where each corresponding index of the item in the key list maps to the index of the val list.

For example:

keys = [1, 2, 3]
vals = ['one', 'two', 'three']

Your function will return dict = {1 : 'one', 2 : 'two', 3 : 'three'}

In [ ]:
##### YOUR CODE HERE ########

def lists_to_dict(keys, vals):
  if len(keys) != len(vals):
    print("Not equal, can't merge")
  new_dict=dict()
  for i in range(len(keys)):
    new_dict[keys[i]] = vals[i]
  return new_dict

test1 = ['animal', 'vegetable', 'mineral']
test2 = ['dog', 'tomato', 'agate']

lists_to_dict(test1, test2)

{'animal': 'dog', 'mineral': 'agate', 'vegetable': 'tomato'}

### Challenge Exercises

**1.11)** Given a list of numbers, write a function that returns a list with all of the negative numbers removed.

In [ ]:
test = [2,4,5,-1, 0, 10, -12, 7]
test2 = [-1,-2,-3]
test3 = [2,5,9]

def no_neg(list):
  if list >= 0:
    return True

pos = filter(no_neg, test3)

for x in pos:
  print(x)


#no_neg(test)
#no_neg(test2)
#no_neg(test3)

2
5
9

**1.12)** Given a list of strings, write a function that returns the string of the shortest length.

In [ ]:
def shorty(list):
  shrtstf = list[0]
  for i in range(len(list)):
    if len(list[i]) < len(shrtstf):
      shrtstf = list[i]
  return shrtstf

test1 = ['house', 'cat', 'animal', 'tree']
test2 = ['creature', 'go', 'hell']

#shorty(test1)
shorty(test2)

'go'

**1.13)** Given a dictionary with strings as keys, write a function that returns a list of the keys sorted in ascending order.

In [ ]:
def sort_dict(dict):
  key_list = []
  for key,val in dict.items():
    key_list.append(key)
    key_list.sort()
  return key_list

#test = {'mineral': 'agate', 'vegetable': 'tomato','animal': 'dog'}
#test = {'vegetable': 'tomato','animal': 'dog','mineral': 'agate'}
test = {1234: 'tomato',9742: 'dog', 35: 'agate'}
sort_dict(test)

[35, 1234, 9742]

**1.14)** Write a function that takes in a string and a number. The string can either be "cm" or "in". If the string is "cm" then your function must convert from the number from centimeters to inches. If the string is "in", your function must convert the number from inches to centimeters. If the string isn't "cm" or "in", print "Unit unrecognized.

In [ ]:
#### YOUR CODE HERE #######
def convert(thing, num):
  if thing == 'cm':
    print('Equals ' + str(num/2.54) + ' inches')
  elif thing == 'in':
    print('Equals ' + str(num*2.54) + ' centimeters')
  else:
    print('Unit Unrecognized')

#unit = 'cm'
#unit = 'in'
unit = 'kg' 

val = 4

convert(unit, val)

Unit Unrecognized